<!DOCTYPE html>
<html lang="en">
    <head>
        {{{ meta.inject().title.text() }}}
        {{{ meta.inject().meta.text() }}}
        <link href="https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/app.css">
        <meta name="viewport" content="initial-scale=1;user-scalable=no">
        <base href="/" />
    </head>
    <body>
        <!--vue-ssr-outlet-->
        <script src="/public/app.js"></script>
    </body>
</html>