
@import "./components/shop-list/index.scss";
@import "./components/search/index.scss";

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}
