<template>
    <div class="home"> 
        <shop-list :shops="shops"></shop-list>
        <search></search>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ShopList from './components/shop-list/index.vue'
    import Search from './components/search/index.vue'

    export default {
        name: 'Home',

        metaInfo: {
            title: 'Save Your Local Coffeeshop',
            meta: [
                { name: 'description', content: 'Home page description' }
            ]
        },

        components: {
            ShopList,
            Search,
        },

        computed: {
            ...mapGetters({
                shops: 'shops',
                filter: 'filter',
            })
        },

        // Server-side only
        // This will be called by the server renderer automatically
        serverPrefetch () {
            // return the Promise from the action
            // so that the component waits before rendering
            return this.getShops()
        },

        // Client-side only
        mounted () {
            // If we didn't already do it on the server, we fetch the users
            if (!this.shops.length || this.filter) {
                this.getShops()
            }
        },

        methods: {
            getShops () {
                return this.$store.dispatch('getShops')
            }
        }
    }
</script>
