<template>
    <div class="shop-list">
        <router-link :to="'/shop/' + shop._id" v-for="shop in shops" :key="shop._id">
            <div class="shop-entry card clickable">
                <div class="shop-logo">
                    <div class="shop-logo-image" v-if="shop.thumbnailUrl" :style="{'background-image': 'url(' + shop.thumbnailUrl + ')'}">
                    </div>
                    <img v-else :src="duck" />
                </div>
                <div class="shop-description">
                    <h2>{{shop.title}}</h2>
                    <p v-if="shop.address">
                        {{ shop.address }}
                    </p>
                    <span class="shop-needs">
                        {{ formatPrice(shop.needInCent) }} monatlich
                    </span>
                    <!--
                    <div class="shop-percentage">
                        <div class="shop-percentage-progress" :style="{width: shop.progress + '%'}"></div>
                        <span class="shop-percentage-text">
                            {{ shop.progress }}% finanziert
                        </span>
                    </div>
                    -->
                </div>
                <div class="shop-action hide-xs">
                    <button>
                        Unterstützen
                    </button>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
    import duck from '../../../../assets/images/duck.jpg'

    let path = duck
    if (!path.startsWith('/public')) {
        path = '/public/' + path
    }

    export default {
        name: 'ShopList',
        props: {
            shops: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                duck: path,
            }
        },
        methods: {
            formatPrice(priceInCent) {

                if (isNaN(priceInCent)) {
                    return priceInCent
                }

                priceInCent = Math.round(priceInCent)
                const sign = priceInCent < 0 ? '-' : ''
                priceInCent = Math.abs(priceInCent)
                let euros = Math.floor(priceInCent / 100)
                euros = ('' + euros)
                    .split('').reverse().join('')
                    .match(/.{1,3}/g)
                    .map(x => x.split('').reverse().join(''))
                    .reverse().join('.')
                let cents = priceInCent % 100
                if (cents === 0) {
                    cents = '-'
                } else if (cents < 10) {
                    cents = '0' + cents
                }
                return `${sign}${euros},${cents} €`
            },
        }
    }
</script>
