
.shop-list {
    
    .shop-entry {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 12rem auto 12rem;
        height: 8rem;
        background: white;

        @media screen and (max-width: 800px) {
            grid-template-columns: 8rem auto;
        }

        .shop-logo {
            text-align: center;
            .shop-logo-image {
                width: 100%;
                height: 100%;
                background-size: cover;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .shop-description {
            padding: 0.5rem;
            * {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            h2 {
                margin: 0 0 0.5rem 0;
                font-weight: 700;
                font-size: 1rem;
            }
            p {
                margin: 0 0 0.5rem 0;
            }
        }

        .shop-needs {
            background: $accent;
            color: white;
            display: inline-block;
            border-radius: 2px;
            padding: 0.2rem 0.5rem;
        }

        .shop-percentage {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border-radius: 2px;
            width: 100%;
            height: 1.5rem;
            background: $background;
            position: relative;
            .shop-percentage-progress {
                background: $accent;
                height: 100%;
                border-top-left-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            .shop-percentage-text {
                position: absolute;
                right: 2rem;
                top: 0;
            }
        }

        .shop-action {
            text-align: center;
            button {
                padding: 0.5rem 2rem;
                margin-top: 2.5rem;
                display: inline-block;
            }
        }

    }


}

