
.search {

    width: 100%;

    h2 {
        margin: 0 0 0.5rem 0;
    }

    input {
        border: none;
        width: calc(100% - 1rem);
        padding: 1rem 0.5rem;
        outline: none;
    }

    .mission {

        a {
            color: $accent;
        }

    }

}
