<template>
    <div class="search">
        <h2>
            Laden suchen
        </h2>
        <form @submit="search">
            <input placeholder="Postleitzahl" v-model="zip" pattern="[0-9]{5}" required @input="search" />
        </form>
        <div class="mission">
            <h3>Mission</h3>
            <p>
                Gemeinsam retten wir die Kleingastronomen und Kulturanbieter! 
            </p>

            <p>
                Wir geben lokalen Händlern eine Plattform um spenden zu sammeln und bald auch Gutscheine zu
                verkaufen, damit wir auch nach der Krise weiterhin den Kaffee in unserem Lieblingslokal
                genießen können. 
            </p>

            <p>
                An alle Kaffee Liebhaber: Werdet heute mit nur 2 klicks zum Local Hero!
            </p>

            <router-link to="faq">
                Häufige Fragen
            </router-link>

        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: 'Search',
        computed: {
            ...mapGetters({
                filter: 'filter',
            })
        },
        data() {
            return {
                zip: '',
            }
        },
        methods: {
            search(e) {

                if (e) {
                    e.preventDefault()
                    e.stopPropagation()
                }

                if (this.zip.length !== 5) {

                    if (this.filter) {
                        this.$store.dispatch('getShops')
                    }

                    return
                }

                if (this.filter && this.filter === this.zip) {
                    return
                }

                this.$store.dispatch('filterShops', this.zip)
            },
        },
    }
</script>
