

$primary: #0c84b6;
$primary-d1: #0a719c;
$primary-d2: #09658b;

$accent: #f0522f;

$background: #f7f7f7;

html, body, #app {
    height: 100%;
    width: 100%;  
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: $background;
    font-family: 'Baloo 2', sans-serif;
}

.main {
    margin: auto;
    width: 90%;
    max-width: 1440px;
    height: calc(100% - 8rem);
    overflow: auto;
    // background-image: url("./images/background-blur.jpg");
}

button {
    all: unset;
    font-family: 'Baloo 2';
    background: $primary;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 0;
    transition: background 0.2s;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover {
        background: $primary-d1;
    }
    &:active {
        background: $primary-d2
    }
}

a {
    all: unset;
    cursor: pointer;
}

.card {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.clickable {
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.hide-xs {
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.show-xs {
    display: none;
    @media screen and (max-width: 800px) {
        display: block;
    }
}

@import "../components/sylc-header/index.scss";
@import "../components/sylc-footer/index.scss";
@import "../modules/home/index.scss";
@import "../modules/enlist/index.scss";
@import "../modules/shop/index.scss";

