<template>
    <div class="enlist">
        <div class="card">
            <h2>
                Eintragen
            </h2>
            <form @submit="createShop">
                <input placeholder="Betriebsname *" v-model="shop.title" maxlength="80" required :disabled="disabled" />

                <input placeholder="Postleitzahl *" v-model="shop.zip" pattern="[0-9]{5}" required :disabled="disabled" />

                <input placeholder="Adresse *" v-model="shop.address" required :disabled="disabled" />
                
                <div class="space"></div>

                <input placeholder="Monatlicher Krisenbedarf *" type="number" v-model="shop.needInEuro" required :disabled="disabled" />

                <input placeholder="PayPal Link *" v-model="shop.paypalUrl" type="url" required :disabled="disabled" />

                <div class="space"></div>

                <input placeholder="Link zu Hauptfoto" v-model="shop.thumbnailUrl" type="url" :disabled="disabled" />

                <template v-for="(image, index) in shop.imageUrls">
                    <input placeholder="Weiteres Foto" v-model="image.url" type="url" :disabled="disabled" :key="index" />
                </template>
                <a @click="addImage()">
                    Weiteres Foto
                </a>

                <input placeholder="Facebook" v-model="shop.facebookUrl" type="url" :disabled="disabled" />

                <input placeholder="Instagram" v-model="shop.instagramUrl" type="url" :disabled="disabled" />

                <input placeholder="Website" v-model="shop.websiteUrl" type="url" :disabled="disabled" />

                <div class="space"></div>

                <textarea placeholder="Unsere Story" v-model="shop.story" rows="5" :disabled="disabled"></textarea>
                <textarea placeholder="In unserem Angebot" v-model="shop.offer" rows="5" :disabled="disabled"></textarea>

                <button @click="createShop" :disabled="disabled">
                    Abschicken
                </button>

                <div class="clear"></div>

            </form>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: 'Enlist',

        metaInfo: {
            title: 'Save Your Local Coffeeshop',
            meta: [
                { name: 'description', content: 'Home page description' }
            ]
        },

        components: {
        },

        computed: {
            ...mapGetters({
                createdShop: 'shop',
            })
        },

        data() {
            return {
                shop: {
                    title: '',
                    zip: '',
                    address: '',
                    needinEuro: 100,
                    needInCent: 10000,
                    thumbnailUrl: '',
                    imageUrls: [],
                    facebookUrl: '',
                    instagramUrl: '',
                    paypalUrl: '',
                    websiteUrl: '',
                    story: '',
                    offer: '',
                },
                disabled: false,
            }
        },

        // Server-side only
        // This will be called by the server renderer automatically
        serverPrefetch () {
            // return the Promise from the action
            // so that the component waits before rendering
        },

        // Client-side only
        mounted () {
        },

        methods: {
            addImage() {
                this.shop.imageUrls.push({
                    url: '',
                })
            },
            createShop(e) {
                e.preventDefault()
                e.stopPropagation()

                if (!this.shop.title || !this.shop.title.trim()
                    || !this.shop.address || !this.shop.address.trim()
                    || !this.shop.zip || !this.shop.zip.trim()
                    || !this.shop.needInEuro || !this.shop.needInEuro.trim()
                    || !this.shop.paypalUrl || !this.shop.paypalUrl.trim()) {
                    return
                }

                this.shop.needInCent = Math.round(this.shop.needInEuro * 100)

                this.shop.imageUrls = this.shop.imageUrls.map(image => image.url)

                if (!this.disabled) {
                    this.disabled = true

                    this.$store.dispatch('createShop', this.shop)
                        .then(() => {
                            this.$router.push('/shop/' + this.createdShop._id)
                        })

                }
            }
        }
    }
</script>
