
.enlist {
    .card {
        padding: 0.5rem;
        background: white;
        h2 {
            margin: 0 0 0.5rem 0;
        }

        .space {
            height: 1rem;
        }

        a {
            display: inline-block;
            float: right;
            background: $primary;
            color: white;
            padding: 0.5rem 2rem;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        input, textarea {
            width: calc(100% - 1rem);
            border: none;
            border-bottom: 1px solid #bbb;
            outline: none;
            padding: 0.5rem;
            margin: 0 0 0.5rem;
            &:hover {
                border-bottom: 1px solid #999;
            }
            &:active {
                border-bottom: 1px solid #666;
            }
        }

        button {
            padding: 0.5rem 2rem;
            float: right;
        }

        .clear {
            clear: both;
        }

    }
}
