<template>
  <div>
    <h1>FAQ</h1>

    <h2 id="für-latte-artists-und-kaffee-dealer">Für Latte-Artists und Kaffee Dealer</h2>
    <ol>
      <li>Wie kann ich mein Geschäft bei Sylc listen?</li>
    </ol>
    <p>Ganz einfach! In nur zwei Minuten kannst du unser Formular ausfüllen und schon bist du dabei! Schreibe einen kurzen Text zu deinem Geschäft und liste auf, was ihr anbietet. Lade am besten auch einige Bilder hoch für einen besseren Wiedererkennungswert.</p>
    <p>Zum Formular</p>
    <ol start="2">
      <li>Welchen Betrag sollte ich als Spendenziel eingeben?</li>
    </ol>
    <p>Unsere Mission ist es, lokale Geschäfte auch in diesen Krisenzeiten am Leben zu halten. Daher sollte das Spendenziel die realistischen Geschäftserhaltungskosten abdecken. Dazu zählen Fixkosten wie Mieten und Löhne.</p>
    <ol start="3">
      <li>Wie kann ich Sylc unterstützen?</li>
    </ol>
    <p>Du findest unser Konzept gut? Vielen Dank! Dann teile doch unsere Templates auf Social Media und motiviere deine Kunden eine Spende zu tätigen.</p>
    <p>Download Templates</p>
    <ol start="4">
      <li>Welche Gebühren fallen für die Nutzung von Sylc an?</li>
    </ol>
    <p>Die Services von Sylc sind kostenfrei. Wir sind eine Non-Profit Organisation aus Coffee-Lovers die die lokale Gastronomie schätzen und am Leben erhalten wollen.</p>
    <ol start="5">
      <li>Wir sind kein Coffee-Shop, können wir uns trotzdem registrieren?</li>
    </ol>
    <p>Sylc steht für ihre liebe zum Kaffee, die liebe zum Lokalen Einzelhandel ist jedoch genauso groß. Daher sind sämtliche lokalen Einzelhändler und Gastronomen auf unserer Plattform mehr als Willkommen.</p>
    <p>Für Coffee-Lover/Koffein-Junkies und Local Heros:</p>
    <ol>
      <li>Warum soll ich jetzt Gutscheine kaufen und nicht erst bei der Wiedereröffnung meinen lokalen Coffeeshop unterstützen?</li>
    </ol>
    <p>Vor allem kleine Unternehmen haben mit Liquidität zu kämpfen, das heißt, wenn sie keine Einnahmen haben, können Sie ihre Rechnungen und Löhne nicht mehr zahlen.</p>
    <ol start="2">
      <li>Kann ich einen Sylc Gutschein auch verschenken?</li>
    </ol>
    <p>Aber selbstverständlich!</p>
    <ol start="3">
      <li>Was passiert, wenn wir den Lokalen Handel nicht weiter unterstützen?</li>
    </ol>
    <p>Einige kleine Betriebe werden verschwinden und die Innenstadt verliert an Diversität und ist eines Tages vielleicht nur noch voll mit großen Ketten und Coffeeshop-Riesen.</p>
    <ol start="4">
      <li>Ich habe leider kein Geld übrig zum Spenden, was kann ich tun?</li>
    </ol>
    <p>Jede Spende hilft, auch wenn du nur den Wert eines Cappuccinos an dein Lieblings Café spendest. Du kannst uns aber auch vor allem darin unterstützen, indem du unsere Mission teilst. Lade dir unsere Templates runter und Teile sie auf Social Media und erzähle deiner Oma, NachbarIn und BriefträgerIn von uns.</p>
    <ol start="5">
      <li>Warum heißt ihr Sylc?</li>
    </ol>
    <p>Sylc steht für „Save your local coffeeshop“, denn dadurch ist unser Non-Profit entstanden: Liebe zu gutem Kaffee und kleinen Gastronomien, die unsere Stadt lebendig halten. Diese Vielfalt im Einzelhandel soll uns durch keine Krise und Rezession verloren gehen.</p>
    <ol start="6">
      <li>Ich habe kein Paypal Konto, kann ich dennoch spenden?</li>
    </ol>
    <p>Aktuell ist nur die Spende per Paypal möglich. Frag doch mal deine Familie oder Freunde ob jemand ein Paypal Konto hat über welches du spenden kannst.</p>
    <ol start="7">
      <li>Wer steht hinter Sylc?</li>
    </ol>
    <p>Hinter Sylc stehen Valentin (Frontend Entwickler), Chris (Backend Entwickler), Gina (Produktmanagerin) und David (CEO und Professor im echten Leben)</p>
  </div>
</template>

<script>
export default {
  name: "FAQ",

  metaInfo: {
    title: "Save Your Local Coffeeshop",
    meta: []
  }
}
</script>
