
.shop {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    width: 100%;

    &--mobile-title {
        padding: 0.5rem;
        background: white;
        h1 {
            color: $accent;
            margin: 0;
        }
    }

    &--image {
        height: 10rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        &--image {
            height: 16rem;
        }
        &--more-image {
            height: 10rem;
        }
    }

    &--more-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    &--more-image {
        height: 6rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }

    &--details {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        .card {
            background: white;
            padding: 0.5rem;
            h2 {
                margin: 0 0 0.5rem 0;
                display: inline-block;
                width: 50%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &.accent {
                    color: $accent;
                    width: 100%;
                }
            }
        }

        .shop--description {
            grid-column-start: 1;
            grid-column-end: 3;
            span {
                display: inline-block;
                float: right;
                width: calc(50% - 1rem);
                background: $accent;
                text-align: center;
                padding: 0.25rem 0;
                border-radius: 2px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                color: white;
            }
        }

        .shop--story, .shop--offer {
            @media screen and (max-width: 800px) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
            p {
                white-space: pre-wrap;
                margin-top: 0;
            }
        }

        .shop--donate {
            grid-column-start: 1;
            grid-column-end: 3;
            button {
                display: block;
                width: 100%;

            }
        }

    }

}
