<template>
    <div class="shop" v-if="shop">
        <div class="card shop--mobile-title show-xs">
            <h1>
                {{ shop.title }}
            </h1>
        </div>
        <div>
            <div class="shop--image" v-if="shop.thumbnailUrl" :style="{'background-image': 'url(' + shop.thumbnailUrl + ')'}"
                @click="open(shop.thumbnailUrl)">
            </div>
            <img v-else :src="duck" />

            <div class="shop--more-images" v-if="shop.imageUrls && shop.imageUrls.length">
                <div class="shop--more-image" v-for="url in shop.imageUrls" :key="url"
                    :style="{'background-image': 'url(' + shop.thumbnailUrl + ')'}"
                    @click="open(url)">
                </div>
            </div>

        </div>
        <div class="shop--details">
            <div class="card shop--description">
                <h2 :title="shop.address">
                    {{ shop.address }}
                </h2>
                <span>
                    {{ formatPrice(shop.needInCent) }} monatlich
                </span>
                <a v-if="shop.instagramUrl" target="_blank" :href="shop.instagramUrl">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                    </svg>
                </a>
                <a v-if="shop.facebookUrl" target="_blank" :href="shop.facebookUrl">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" />
                    </svg>
                </a>
                <a v-if="shop.websiteUrl" target="_blank" :href="shop.websiteUrl">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12.04 2C6.58 2 2.13 6.45 2.13 11.91C2.13 13.66 2.59 15.36 3.45 16.86L2.05 22L7.3 20.62C8.75 21.41 10.38 21.83 12.04 21.83C17.5 21.83 21.95 17.38 21.95 11.92C21.95 9.27 20.92 6.78 19.05 4.91C17.18 3.03 14.69 2 12.04 2M12.05 3.67C14.25 3.67 16.31 4.53 17.87 6.09C19.42 7.65 20.28 9.72 20.28 11.92C20.28 16.46 16.58 20.15 12.04 20.15C10.56 20.15 9.11 19.76 7.85 19L7.55 18.83L4.43 19.65L5.26 16.61L5.06 16.29C4.24 15 3.8 13.47 3.8 11.91C3.81 7.37 7.5 3.67 12.05 3.67M8.53 7.33C8.37 7.33 8.1 7.39 7.87 7.64C7.65 7.89 7 8.5 7 9.71C7 10.93 7.89 12.1 8 12.27C8.14 12.44 9.76 14.94 12.25 16C12.84 16.27 13.3 16.42 13.66 16.53C14.25 16.72 14.79 16.69 15.22 16.63C15.7 16.56 16.68 16.03 16.89 15.45C17.1 14.87 17.1 14.38 17.04 14.27C16.97 14.17 16.81 14.11 16.56 14C16.31 13.86 15.09 13.26 14.87 13.18C14.64 13.1 14.5 13.06 14.31 13.3C14.15 13.55 13.67 14.11 13.53 14.27C13.38 14.44 13.24 14.46 13 14.34C12.74 14.21 11.94 13.95 11 13.11C10.26 12.45 9.77 11.64 9.62 11.39C9.5 11.15 9.61 11 9.73 10.89C9.84 10.78 10 10.6 10.1 10.45C10.23 10.31 10.27 10.2 10.35 10.04C10.43 9.87 10.39 9.73 10.33 9.61C10.27 9.5 9.77 8.26 9.56 7.77C9.36 7.29 9.16 7.35 9 7.34C8.86 7.34 8.7 7.33 8.53 7.33Z" />
                    </svg>
                </a>
                <!--
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                </svg>
                -->
            </div>
            <div class="card shop--story">
                <h2 class="accent">
                    Unsere Story
                </h2>
                <p>{{ shop.story }}</p>
            </div>
            <div class="card shop--offer">
                <h2 class="accent">
                    In Unserem Angebot
                </h2>
                <p>{{ shop.offer }}</p>
            </div>
            <div class="card shop--donate">
                <h2 class="accent">
                    Spenden
                </h2>
                <a target="_blank" :href="shop.paypalUrl">
                    <button>
                        Via PayPal
                    </button>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import duck from '../../assets/images/duck.jpg'

    let path = duck
    if (!path.startsWith('/public')) {
        path = '/public/' + path
    }

    export default {
        name: 'Shop',

        metaInfo: {
            title: 'Save Your Local Coffeeshop',
            meta: [
                { name: 'description', content: 'Home page description' }
            ]
        },

        components: {
        },

        computed: {
            ...mapGetters({
                shop: 'shop',
            })
        },

        data() {
            return {
                duck: path,
            }
        },

        // Server-side only
        // This will be called by the server renderer automatically
        serverPrefetch () {
            // return the Promise from the action
            // so that the component waits before rendering
            return this.getShop()
        },

        // Client-side only
        mounted () {
            if (!this.shop) {
                this.getShop()
            }
        },
        beforeDestroy() {
            this.$store.commit('setShop', null)
        },
        methods: {
            getShop() {
                return this.$store.dispatch('getShop', this.$route.params.id)
            },
            open(url) {
                window.open(url)
            },
            formatPrice(priceInCent) {

                if (isNaN(priceInCent)) {
                    return priceInCent
                }

                priceInCent = Math.round(priceInCent)
                const sign = priceInCent < 0 ? '-' : ''
                priceInCent = Math.abs(priceInCent)
                let euros = Math.floor(priceInCent / 100)
                euros = ('' + euros)
                    .split('').reverse().join('')
                    .match(/.{1,3}/g)
                    .map(x => x.split('').reverse().join(''))
                    .reverse().join('.')
                let cents = priceInCent % 100
                if (cents === 0) {
                    cents = '-'
                } else if (cents < 10) {
                    cents = '0' + cents
                }
                return `${sign}${euros},${cents} €`
            },
        }
    }
</script>
