<template>
    <div class="sylc-footer">
        <router-link to="/about">
            Impressum
        </router-link>
    </div>
</template>

<script>

    export default {
        name: 'Footer',
    }
</script>
