<template>
    <div id="app">
        <sylc-header></sylc-header>
        <div class="main">
            <router-view></router-view>
        </div>
        <sylc-footer></sylc-footer>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: 'Sylc',

        metaInfo: {
            meta: [
                { charset: 'utf-8' },
            ]
        },

        computed: {
            ...mapGetters({
                title: 'title',
            })
        },
    }
</script>
