
.header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &--wrapper {
        margin: 0 auto 1rem;
        max-width: 1440px;
        width: 90%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1rem;
        height: 4rem;
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr 1fr
        }
        @media screen and (max-width: 400px) {
            grid-template-columns: 4rem auto;
            .header--title img {
                width: 100%;
                margin: 0;
                height: initial;
                margin-top: 1.5rem;
            }
        }
    }

    &--title {
        height: 100%;
        overflow: hidden;
        img {
            height: 3rem;
            float: left;
            margin: 0.5rem 1rem 0.5rem 0.5rem;
        }
        h1 {
            margin: 0.4rem 0;
            color: $accent;
        }
    }
    &--cta {
        button {
            width: calc(100% - 1rem);
            margin: 0.8rem 1rem 0.8rem 0;
        }
    }
}
