<template>
    <div class="header">
        <div class="header--wrapper">
            <div class="header--title">
                <router-link to="/"><img :src="logo" /></router-link>
                <h1 class="hide-xs" v-if="shop">
                    {{ shop.title }}
                </h1>
                <h1 class="hide-xs" v-else>
                    Save Your Local Coffeeshop
                </h1>
            </div>
            <div class="header--cta">
                <router-link to="/enlist">
                    <button>
                        Meinen Betrieb listen
                    </button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import logo from '../../assets/images/logo.jpg'
    import {mapGetters} from 'vuex'

    let path = logo
    if (!path.startsWith('/public')) {
        path = '/public/' + path
    }

    export default {
        name: 'Header',
        computed: {
            ...mapGetters({
                shop: 'shop',
            })
        },
        data() {
            return {
                logo: path,
            }
        }
    }
</script>
